html, body {
    margin: 0;
    height: 100%;
    background-color: white;
    font-family: Didot, serif;
}

.logoImg{
    width: 20%;
}



/* css navbar */
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.position_navbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.position_navbar form {
    display: flex;
    border-bottom: 1px solid black;
}

.position_navbar form input {
    border: none;
}

.position_navbar form button {
    border: none;
    background-color: transparent;
}

.link_navbar {
    border: none;
    background-color: transparent;

    font-size: large;
    color: black;
    text-decoration: none;

    width: 15%;
    text-align: center;

    /*border-bottom: 1px solid black;*/
}

.link_navbar:hover {
    border-bottom: 2px solid maroon;
}

.link_navbarr { 
    width: 80%;
    max-width: 1000px;
 } 

 * {box-sizing:border-box}




/* article*/

.article{
    margin-bottom: 5%;
} 

.titre {
    justify-content: start;
    text-align: center;
}

.articleImg{
    margin: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.txt{
    justify-content: center;
    text-align:left;
    margin-left: 10%;
    margin-right: 10%;

}
/* citation */

.citation{
    margin:0;
    padding:0;
    text-align:center;
    position:relative;
}
.citation span{
    background-color:#fff;
    padding:0 10px;
}
.citation{
    line-height:34px;
    box-shadow:0 16px 0 0 #fff inset, 0 17px 0 0 grey inset;
}
.citation2{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align:center;

    padding: 1.5%;
    margin-bottom: 1%;

}

/* autre article */

.titreAutreArticle{
    margin:0;
    padding:0;
    text-align:center;
    position:relative;
}
.titreAutreArticle span{
    background-color:#fff;
    padding:0 10px;
}
.titreAutreArticle{
    line-height:34px;
    box-shadow:0 16px 0 0 #fff inset, 0 17px 0 0 grey inset;
}

.autreArticle2{
    display: flex;
    justify-content:space-evenly;
    padding: 1.5%;

}

    /* footer */

    footer {
        border-top: 2px solid green;
    }

    .container-footer {
        display : flex;
        justify-content: space-around;
    }
    
    .container {
        height: 30vh;
        width: 28vh;
    }
    
    .icon-container {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    
    }
    
    footer.p {
        text-align: center;
        margin-bottom: 15%;
    }
    
    .icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background:white;
        box-shadow:  4px 4px 8px #a9a9a9,
                 -4px -4px 8px #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }