html, body {
    margin: 0;
    height: 100%;
    background-color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icon-container {
    width: 10%;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

header .icon-container .icon {
    height: 30px;
    width: 30px;
    border: none;
    text-decoration: none;
    color: black;
}



.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background:white;
    box-shadow: -12px -12px 12px 0 white,
			12px 12px 12px 0 #f2f2f2;
    /* box-shadow:  4px 4px 8px #a9a9a9,
             -4px -4px 8px #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css navbar */
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.position_navbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.position_navbar form {
    display: flex;
    border-bottom: 1px solid black;
}

.position_navbar form input {
    border: none;
}

.position_navbar form button {
    border: none;
    background-color: transparent;
}

.link_navbar {
    border: none;
    background-color: transparent;

    font-size: large;
    color: black;
    text-decoration: none;

    width: 15%;
    text-align: center;

    font-family: 'Cardo', serif;
    size: large;

    /*border-bottom: 1px solid black;*/
}

.link_navbar:hover {
    border-bottom: 1px solid black;
}

.link_navbarr { 
    width: 80%;
     max-width: 1000px;
 } 


 * {box-sizing:border-box}

/* Box Diapo */
.slideshow-container {
  max-width:958px;
  height: 328px;

  position: relative;
  margin: auto;
}

/* Cacher les images par defaut */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position des boutons de navigations entre les photsos  */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* indicateur cercle */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-bottom: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*  animation de flou  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.img{
  width:958px;
  height: 328px;
  border-radius: 10px;
}


/* main {
   height: 90%;
   border: black;
   } */

.containerarticle {
  padding: 5%;

}

.vl {
  border-left: 1px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 120%;
  }

.span {
  position: absolute;
  left: 65%;
  top: 135%;
  font-size: 5vh;
  margin-left: -3px;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 30%;
  height: 40vh;
  
}


.text {
  background: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #333;
  font-size: 40px;
  padding: 50px;
  max-width: 50%;
  margin: 100px auto 0;
}


.proposphoto {
  height: 80vh;
}

.section {
  display: flex;
  flex-direction: row;
}
 
/* .slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

.slider figure img {
       width: 20%;
        height: auto; 
        float: 
        left;
     }
.slider { 
    width: 80%;
     max-width: 1000px;
      overflow: hidden
     }

@keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
      } */

/* CSS NEWLETTER */
/* .nl {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

/* .fields {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  padding: 75px 5px 5px 5px;
} */

.container input {
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #555;
  padding:20px 10px 20px 5px;
}
.mail {
  /* margin-bottom: 30px; */
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff; */
  /* box-shadow:  4px 4px 8px #a9a9a9,
             -4px -4px 8px #ffffff; */
             box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6),
			12px 12px 12px 0 rgba(0, 0, 0, 0.03);
}

.far fa-paper-plane fa-2x {
  margin-left: 4%;
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff; */
  border : white;
  box-shadow:  4px 4px 8px #a9a9a9,
             -4px -4px 8px #ffffff;
}

.mail {
  width: auto;
}

/* .imgnl {
  height:40%;
} */

/* .nl form input {
    border: none;
    border-bottom: 1px solid maroon;
    font-size: large;
} */

/* .nl form button {
    border: none;
    background-color: transparent;
}  */


/* CSS FOOTER */
footer {
    border-top: 1px solid black;
}

.container-footer {
    display : flex;
    justify-content: space-between;
    height: auto;
}

.container {
    height: 22vh;
    width: 28vh;
}

.icon-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

h1 {
  font-family: 'Cardo', serif;
  font-size: medium;
}

h1,p{
    text-align: center;
    margin-bottom: 15%;
}

.mailbut {
  display: flex;
  flex-direction: row;
}