* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: white;
}

button:focus {
  outline: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .icon-container {
  width: 10%;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

header .icon-container .icon {
  height: 30px;
  width: 30px;
  border: none;
  text-decoration: none;
  color: black;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: white;
  box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 #f2f2f2;
  /* box-shadow:  4px 4px 8px #a9a9a9,
           -4px -4px 8px #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================================================================= */

/* CSS NAVBAR */

.navbar {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.position_navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none !important;
  color: transparent;
  padding: 10px;
  font-size: large;
  text-decoration: none;
  font-family: 'Cardo', serif;
}

ul {
  font-family: 'Cardo', serif;
}

.menu {
  width: 70%;
}

.categorie_menu {
  border-bottom: 1px solid black;
}

.sous_menu {
  width: 100%;
  background-color: white;
  border-left: 1px solid maroon;
  border-right: 1px solid maroon;
}

.sous_menu:hover {
  border-bottom: 1px black solid;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
  line-height: 44px;
  float: left;
}

nav ul li a {
  color: black;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}


nav ul li ul {
  display: none;
}

/* Rend le menu déroulant caché par défaut */

nav ul li:hover ul {
  /* Affiche la dropNav au survol de la souris avec la class .drop */
  z-index: 99999;
  display: list-item !important;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
}

nav ul li:hover ul li {
  float: none;
}

.position_navbar form {
  display: flex;
  border-bottom: 1px solid black;
}

.position_navbar form input:focus {
  outline: none;
}

.position_navbar form input {
  border: none;
  font-size: large;
  width: 300px;
}

.position_navbar form button {
  border: none;
  background-color: transparent;
}

.link_navbar {
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: large;
  color: black;
  width: 15%;
  text-align: center;
  font-family: 'Cardo', serif;
  size: large;
  /*border-bottom: 1px solid black;*/
}

.link_navbar:hover {
  border-bottom: 1px solid black;
}

.link_navbarr {
  width: 80%;
  max-width: 1000px;
}

/* ============================================================================= */
/* Box Diapo */
.slideshow-container {
  max-width: 958px;
  height: 428px;
  position: relative;
  margin: auto;
}

/* Cacher les images par defaut */

.mySlides {
  display: none;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position des boutons de navigations entre les photsos  */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* indicateur cercle */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-bottom: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 3s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*  animation de flou  */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

.img {
  width: 958px;
  height: 428px;
  border-radius: 10px;
}

/* main {
 height: 90%;
 border: black;
 } */

.containerarticle {
  padding: 5%;
}

.vl {
  border-left: 1px solid black;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 120%;
}

.span {
  position: absolute;
  left: 55%;
  top: 135%;
  font-size: larger;
  margin-left: -3px;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 40%;
  height: 50vh;
}

.text {
  background: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #333;
  font-size: 40px;
  padding: 50px;
  max-width: 50%;
  margin: 100px auto 0;
}

.proposphoto {
  height: 80vh;
}

.section {
  display: flex;
  flex-direction: row;
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 40%;
  border-radius: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  background: url('/Start-up__Project/home/assets/Capture\ d’écran\ 2021-03-02\ à\ 16.38.40.png') repeat-x;
  background-size: auto 100%;
  -webkit-animation: move-map 30s infinite linear;
  -moz-animation: move-map 30s infinite linear;
  -o-animation: move-map 30s infinite linear;
  -ms-animation: move-map 30s infinite linear;
  animation: move-map 30s infinite linear;
}

.ball:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px #b1dcfb24 inset;
  z-index: 2;
}

.ball:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(0);
  opacity: 0.3;
  background: radial-gradient(circle at 50% 80%, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}

/* body {
width: 300px;
margin: 20px auto;
background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
background-repeat: no-repeat;
} */

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
  0% {
      background-position: -849px 0;
  }
  100% {
      background-position: 0 0;
  }
}

@-webkit-keyframes move-map {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: -849px 0;
  }
}

@-o-keyframes move-map {
  0% {
      background-position: -849px 0;
  }
  100% {
      background-position: 0 0;
  }
}

@-ms-keyframes move-map {
  0% {
      background-position: -849px 0;
  }
  100% {
      background-position: 0 0;
  }
}

@keyframes move-map {
  0% {
      background-position: -849px 0;
  }
  100% {
      background-position: 0 0;
  }
}

/* .slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }
.slider figure img {
       width: 20%;
        height: auto; 
        float: 
        left;
     }
.slider { 
    width: 80%;
     max-width: 1000px;
      overflow: hidden
     }
@keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
      } */

/* CSS NEWLETTER */

/* .nl {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/* .fields {
margin-bottom: 30px;
display: flex;
flex-direction: row;
padding: 75px 5px 5px 5px;
} */



/* ============================================================================= */
/* CSS FOOTER */
.container input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  width: 200px;
}

.mail {
  width: 80%;
  height: 60px;
  /* margin-bottom: 30px; */
  /*border-radius: 25px;*/
  /* box-shadow: inset 8px 8px 8px #cbced1,
            inset -8px -8px 8px #ffffff; */
  /* box-shadow:  4px 4px 8px #a9a9a9,
           -4px -4px 8px #ffffff; */
  /*box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6), 12px 12px 12px 0 rgba(0, 0, 0, 0.03);*/
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
}

.far fa-paper-plane fa-2x {
  margin-left: 4%;
  border-radius: 25px;
  /* box-shadow: inset 8px 8px 8px #cbced1,
            inset -8px -8px 8px #ffffff; */
  border: white;
  box-shadow: 4px 4px 8px #a9a9a9, -4px -4px 8px #ffffff;
}

/* .imgnl {
  height:40%;
} */

.imgnl {
  height: 40¨;
}

/* .nl form input {
  border: none;
  border-bottom: 1px solid maroon;
  font-size: large;
} */

/* .nl form button {
  border: none;
  background-color: transparent;
}  */

/* CSS FOOTER */

footer {
  border-top: 1px solid black;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 50px;
  padding-top: 40px;
  text-align: center;
  background-image: url(assets/alfons-morales-YLSwjSy7stw-unsplash.jpg);
}

.place1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place2 {
  width: 40%;
}

.container h3 {
  border-bottom: 1px solid white;
  font-size: large;
}

.container ul li {
  text-align: start;
  text-decoration: none;
  list-style: none;
  color: black;
}

.container ul li a {
  text-decoration: none;
  color: white;
}

.icon-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rond {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Cardo', serif;
  font-size: medium;
}

h1, p {
  text-align: center;
  margin-bottom: 15%;
}

.mailbut {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.plane {
  border: none;
  background-color: transparent;
  color: white;
}

.display {
  display: flex;
  flex-direction: row;
}