/* Navbar */
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.position_navbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.position_navbar form {
    display: flex;
    border-bottom: 1px solid black;
}

.position_navbar form input {
    border: none;
}

.position_navbar form button {
    border: none;
    background-color: transparent;
}

.link_navbar {
    border: none;
    background-color: transparent;

    font-size: large;
    color: black;
    text-decoration: none;

    width: 15%;
    text-align: center;

    /*border-bottom: 1px solid black;*/
}

.link_navbar:hover {
    border-bottom: 2px solid maroon;
}

.link_navbarr { 
    width: 80%;
     max-width: 1000px;
 } 



/* Style carrousel */
* {box-sizing:border-box}

/* Box Diapo */
.slideshow-container {
  max-width:958px;
  height: 328px;

  position: relative;
  margin: auto;
  padding-top: 15px;
}

/* Cacher les images par defaut */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position des boutons de navigations entre les photsos  */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* indicateur cercle */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-bottom: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*  animation de flou  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.img{
  width:958px;
  height: 328px;
}
/*fin style carrousel*/

.container-footer {
    display : flex;
    justify-content: space-between;
}

.container {
    height: 30vh;
    width: 28vh;
}

.icon-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

p {
    text-align: center;
    margin-bottom: 15%;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background:white;
    box-shadow:  4px 4px 8px #a9a9a9,
             -4px -4px 8px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}