* {
    box-sizing: border-box;
    /*font-family: Didot, serif;*/
}

html, body {
    margin: 0;
    left: 0;
    background-color: #f5f5f547;
}

button:focus {
    outline: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icon-container {
    width: 10%;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

header .icon-container .icon {
    height: 30px;
    width: 30px;
    border: none;
    text-decoration: none;
    color: black;
}

.icon {
    height: 50px;
    width: 50px;
    /*
    border-radius: 50%;
    background: white;
    box-shadow: -12px -12px 12px 0 white, 12px 12px 12px 0 #f2f2f2;
    */
    /* box-shadow:  4px 4px 8px #a9a9a9,
           -4px -4px 8px #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================================================================= */

/* CSS NAVBAR */

.navbar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    font-family: 'Cuprum', sans-serif;
}

.position_navbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none !important;
    color: transparent;
    padding: 10px;
    text-decoration: none;
}

.menu {
    width: 70%;
}

.categorie_menu {
    /* border-bottom: 1px solid black; */
}

.hrmenu {
  margin-top: -60px;
  margin-bottom: 35px;
}

.categorie_menu a {
    font-size: large;
}

.sous_menu {
    width: 100%;
    background-color: white;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid  #f1f1f1;
}

.sous_menu:hover {
    background-color: #f1f1f1;
}

.sous_menu a {
    font-size: medium;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
    line-height: 25px;
    float: left;
}

nav ul li a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
}

/* Rend le menu déroulant caché par défaut */

nav ul li:hover ul {
    /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index: 99999;
    display: list-item !important;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
}

nav ul li:hover ul li {
    float: none;
}

.position_navbar form {
    display: flex;
    /* border-bottom: 1px solid black; */
}

.position_navbar form input:focus {
    outline: none;
}

.position_navbar form input {
    border: none;
    font-size: large;
    width: 300px;
    background-color: transparent;
}

.position_navbar form button {
    border: none;
    background-color: transparent;
}

.link_navbar {
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: large;
    color: black;
    width: 15%;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    size: large;
    /*border-bottom: 1px solid black;*/
}

.link_navbar:hover {
    border-bottom: 1px solid black;
}

.link_navbarr {
    width: 80%;
    max-width: 1000px;
}

.search {
    cursor: pointer;
}

/* Style carrousel --------------------------------------------*/

* {
    box-sizing: border-box
}

/* Box Diapo */

.slideshow-container {
    max-width: 75%;
    height: 40%;
    position: relative;
    margin: auto;
    padding-top: 15px;
}

/* Cacher les images par defaut */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position des boutons de navigations entre les photsos  */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* indicateur cercle */

.dot {
    cursor: pointer none;
    height: 5%;
    width: 5%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/*  animation de flou  */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.img {
    width: 50%;
    height: 50%;
}

/*fin style carrousel ---------------------------------------------------------*/

.container-footer {
    display: flex;
    justify-content: space-between;
}

.container {
    height: 30vh;
    width: 28vh;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    text-align: center;
    margin-bottom: 15%;
}

header .icon-container .icon {
    height: 30px;
    width: 30px;
    border: none;
    text-decoration: none;
    color: black;
}


.H1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    margin-bottom: 1.5%;
    font-size: x-large;
}

.articlebis {
    height: 400px;
    width: 100%;
    background-color: whitesmoke;
    border: solid 1px #FF6864;
    border-radius: 2px;
    box-shadow: -13px 13px 8px whitesmoke, 13px -13px 8px whitesmoke;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
}

.article {
    height: 349px;
    width: 78%;
    background-color: whitesmoke;
    border: solid 2.5px #FF6864;
    border-radius: 75px;
    box-shadow: -13px 13px 8px whitesmoke, 13px -13px 8px whitesmoke;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
}

.line1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.couv {
    padding: 5px;
    width: 140px;
    height: 212px;
}

.txt {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 571px;
    height: 234px;
    margin-top: 2%;
}

.cadre {
    padding: 5px;
    width: 147px;
    height: 212px;
}

.portrait {
    width: 140px;
    height: 144px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
}

.portfolio-experiment {
    background: whitesmoke;
}

.portfolio-experiment a {
    color: black;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 1px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}

.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 1px;
    background: #FF6864;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}

.portfolio-experiment .line {
    position: absolute;
    background: #FF6864;
    /*#FF6864*/
}

.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 1px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}

.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 1px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}

.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}

.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}

.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}

.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}

.portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}

.portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}

.portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}

.portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}

.portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}

.portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}

.portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}

a {
    text-decoration: none;
}

/*footer ---------------------------------------------*/
footer {
    position: relative;
    border-top: 1px solid black;
    color: black;
    font-weight: bolder;
    
}

footer:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f5f5f547;

    z-index: 6;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: left;
    position: relative;
    z-index: 10;
}

.place1 {
    width: auto;
    height: auto;
}

.place2 {
   width: auto;
    height: auto;
}

.container h3 {
    font-size: large;
    text-align: center;
    border-bottom: 1px solid black;
}

.container ul li {
    text-align: start;
    text-decoration: none;
    list-style: none;
    color: black;
}

.container ul li a {
    text-decoration: none;
    color: black
}

.icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rond {
    background-color: #f5f5f547;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-family: 'Cardo', serif;
    font-size: medium;
}

.display {
    display: flex;
    flex-direction: row;
}

/* CSS HL */

.hl {
    border: 1px solid black;
    width: 100%;
    margin: auto;
}

/* CSS BUTTON SUBSCRIBE */

/*
@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
.btn--pitfall {
    --perspective: 200px;
    --rotation: 65deg;
    --duration: 200ms;
    --ease: cubic-bezier(0.33, 1, 0.68, 1);
    all: unset;
    cursor: pointer;
    position: relative;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1.25rem;
    border: 2px dashed transparent;
    transition: border-color 0s;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform-origin: 50% 100%;
        border-radius: 0.125rem;
        transform: perspective(var(--perspective));
        transition: var(--duration) var(--ease);
        pointer-events: none;
        z-index: 1;
    }
    &::before {
        background-color: black;
        transition-property: transform;
    }
    .word {
        position: relative;
        pointer-events: none;
        z-index: 2;
    }
}

.btn--pitfall:hover {
    border-color: rgba(white, 0.2);
    transition-duration: var(--duration);
    transition-delay: calc(var(--duration) * 3.5);
    animation: cursor-swap calc(var(--duration) * 4) linear forwards, zoom var(--duration) linear forwards;
    &::before {
        transform: perspective(var(--perspective));
        animation: pit calc(var(--duration) * 4) var(--ease) forwards;
    }
    .char {
        animation: fall calc(var(--duration) * 2) linear forwards;
        animation-delay: calc(var(--distance-sine) * 0.04s);
    }


@keyframes zoom {
    60% {
        transform: scale(1.2);
    }
}

@keyframes cursor-swap {
    0%, 80% {
        cursor: grab;
    }
    100% {
        cursor: help;
    }
}

@keyframes fall {
    20% {
        transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-20%);
    }
    40% {
        transform: scale(calc(1 * var(--distance-percent) + 1.2)) rotate(calc(25deg * var(--distance-sine))) translateY(-30%);
    }
    60% {
        transform: scale(calc(1 * var(--distance-percent) + 1.5)) rotate(calc(15deg * var(--distance-sine))) translateY(-35%);
    }
    80% {
        opacity: 1;
        transform: scaleY(1) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scaleY(1.5) translateY(150%);
    }
}

@keyframes pit {
    40%, 60% {
        transform: perspective(var(--perspective)) rotateX(var(--rotation)) translateY(100%);
    }
    80% {
        transform: perspective(var(--perspective)) rotateX(var(--rotation)) translateY(100%) scaleX(1.2);
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: perspective(var(--perspective)) rotateX(var(--rotation)) translateY(100%) scaleX(0.001);
    }
}*/