/* Navbar */
.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.position_navbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.position_navbar form {
    display: flex;
    border-bottom: 1px solid black;
}

.position_navbar form input {
    border: none;
}

.position_navbar form button {
    border: none;
    background-color: transparent;
}

.link_navbar {
    border: none;
    background-color: transparent;

    font-size: large;
    color: black;
    text-decoration: none;

    width: 15%;
    text-align: center;

    /*border-bottom: 1px solid black;*/
}

.link_navbar:hover {
    border-bottom: 2px solid maroon;
}

.link_navbarr { 
    width: 80%;
     max-width: 1000px;
 } 



/* Style carrousel */
* {box-sizing:border-box}

/* Box Diapo */
.slideshow-container {
  max-width:90%;
  height: 328px;

  position: relative;
  margin: auto;
  padding-top: 15px;
}

/* Cacher les images par defaut */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position des boutons de navigations entre les photsos  */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* indicateur cercle */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-bottom: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*  animation de flou  */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.img{
  width:958px;
  height: 328px;
}
/*fin style carrousel*/

.container-footer {
    display : flex;
    justify-content: space-between;
}

.container {
    height: 30vh;
    width: 28vh;
}

.icon-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;

}

p {
    text-align: center;
    margin-bottom: 15%;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background:white;
    box-shadow:  4px 4px 8px #a9a9a9,
             -4px -4px 8px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border-top: 3px solid maroon;
}

.h1{
    display: flex;
    justify-content: center;
}

.article{
   height: 400px;
   width: 90%;
   background-color: whitesmoke;
   border: solid 2px #FF6864;
   border-radius: 82px;
box-shadow:  -13px 13px 8px whitesmoke,
             13px -13px 8px whitesmoke;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.line1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}



.couv{
    padding: 5px;
    width: 140px;
    height: 212px;
}

.txt{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 571px;
    height: 234px;
    margin-top: 2%;
}

.cadre{
    padding: 5px;
    width: 147px;
    height: 212px;
}

.portrait{
    width: 140px;
    height: 144px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.btn{
    display: flex;
    justify-content: center; 
}

.portfolio-experiment {
    background: whitesmoke;
}
.portfolio-experiment a {
    color: black;
    padding: 0.7em calc(0.7em * 1.2);
    display: inline-block;
    border: 3px solid transparent;
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
    letter-spacing: 0.07em;
}
.portfolio-experiment a .text {
    font-family: proxima-nova, monospace;
    transform: translate3d(0, 0.7em, 0);
    display: block;
    transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: calc(0.7em * 1.2);
    right: calc(0.7em * 1.2);
    height: 3px;
    background: #FF6864;
    transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
    transform-origin: left;
}
.portfolio-experiment .line {
    position: absolute;
    background: #FF6864;
}
.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
    width: 3px;
    bottom: -3px;
    top: -3px;
    transform: scale3d(1, 0, 1);
}
.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
    height: 3px;
    left: -3px;
    right: -3px;
    transform: scale3d(0, 1, 1);
}
.portfolio-experiment .line.-right {
    right: -3px;
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
    transform-origin: top;
}
.portfolio-experiment .line.-top {
    top: -3px;
    transition: transform 0.08s linear 0.43s;
    transform-origin: left;
}
.portfolio-experiment .line.-left {
    left: -3px;
    transition: transform 0.08s linear 0.51s;
    transform-origin: bottom;
}
.portfolio-experiment .line.-bottom {
    bottom: -3px;
    transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
    transform-origin: right;
}
.portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
    transform: scale3d(0, 1, 1);
    right: -3px;
    left: -3px;
    transform-origin: right;
    transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
    transform: scale3d(1, 1, 1);
}
.portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
    transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
    transform-origin: bottom;
}
.portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
    transition: transform 0.08s linear 0.4s;
    transform-origin: right;
}
.portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
    transition: transform 0.08s linear 0.48s;
    transform-origin: top;
}
.portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
    transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
    transform-origin: left;
}
 a{
     text-decoration: none;
 }
